.header {
  //Main container for Header
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0rem 1rem;
    background-color: var(--color-dark-blue);
    height: min-content;
  }
  &__content {
    display: flex;
    justify-content: space-between;

    //Dropdown component
    &-dropdown {
      margin-right: 2rem;
      padding: 1.5rem 1rem;
    }

    //Search Container
    &-search {
      padding: 1rem;
      flex-grow: 1;

      //Search Component
      &--item {
        width: 100%;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        outline: none;
        font-style: inherit;
      }
    }
  }
}
