.products__container {
  position: relative;
  margin-top: 5rem;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-row-gap: 5rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fill, 1fr);
    justify-content: center;
    margin-left: 5rem;
    margin-top: 6rem;
  }

  overflow-y: auto;

  height: 100vh;
}

.products__analyse {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;

  padding: 1.5rem 2.5rem;
  margin-right: 5rem;
  margin-bottom: 3rem;

  border-radius: 0.5rem;

  //colors
  border: none;
  background-color: var(--color-dark-blue);
  color: white;
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    background-color: var(--color-grey-blue);
  }
}

//LOADING ANIMATION
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: white;
  }
  50% {
    transform: translateY(50px);
    background-color: var(--color-grey-blue);
  }
  100% {
    transform: translateY(0px);
    background-color: white;
  }
}
.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
.circle-6 {
  animation-delay: 0.6s;
}
.circle-7 {
  animation-delay: 0.7s;
}
.circle-8 {
  animation-delay: 0.8s;
}
