.products__container {
  position: relative;
  margin-top: 5rem;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-row-gap: 5rem;

  overflow-y: auto;

  height: 100vh;
}

.products__analyse {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;

  padding: 1.5rem 2.5rem;
  margin-right: 5rem;
  margin-bottom: 3rem;

  border-radius: 0.5rem;

  //colors
  border: none;
  background-color: var(--color-dark-blue);
  color: white;
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    background-color: var(--color-grey-blue);
  }
}
