:root {
  --color-dark-blue: #14279b;
  --color-light-blue: #5c7aea;
  --color-grey-blue: #3d56b2;
  --color-grey: #e6e6e6;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}
//Screen Sizes
$bp-largest: 75em; //1200px / 16px : 75em
$bp-large: 68.75em; //1100px / 16px : 68.75em
$bp-medium: 56.25em; //900px / 16px : 56.25em
$bp-small: 26.56em; //425px / 16px : 26.56em
$bp-smallest: 22.31em; //357px / 16px : 22.31em

$default-font: 'Poppins', sans-serif;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: $default-font;
  font-weight: 300;
}
